.navbar {
  background-color: var(--navbg);
  height: var(--navsize);
  padding: 0 1rem;
}
.navbarItem {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  max-width: 100%;
  margin: 5px;
}
.iconLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  padding: 5px;
  border: 1px solid red;
  border-radius: 50%;
  width: calc(var(--navsize) * 0.6);
}

.navbarItem:nth-child(1) {
  background-color: var(--color-red);
  border-color: 1px solid green;
}
